/* FONTS */

@font-face {
	font-family: whitney-light;
	src: url('Whitney-Light.otf');
}

@font-face {
	font-family: whitney-medium;
	src: url('Whitney-Medium.otf');
}

@font-face {
	font-family: sentinel-black;
	src: url('Sentinel/Sentinel-Black.otf');
}

@font-face {
	font-family: sentinel-light;
	src: url('Sentinel/Sentinel-Light.otf');
}

/*STYLESHEET*/

* {
	margin: 0;
	padding: 0;
}

html {
	/* background-color: #f8f8f8; */
	background-image: url('texture.png');
} 

a {
	text-decoration: none;
	color: black;
}

p {
	font-family: whitney-light, sans-serif;
}

#wrapper {
	display: block;
	margin: 0 auto;
	width: 960px;
	/* background-color: #f8f8f8; /* #88b8ed8 */
	background-image: url('texture.png');
}

#header {
	/* background-color: #f8f8f8; /* #88b8ed8 */
	background-image: url('texture.png');
	padding: 80px 40px 0px;
	border-bottom: 2px solid black;
	display: block;
	height: 495px;
	margin: 0 auto;
	position: relative;
}

#name {
	font-family: sentinel-black, serif;
	font-weight: 700;
	font-size: 50pt;
	width: 550px;
	font-weight: normal;
	margin-top: 50px;
	position: relative;
	text-align: center;
}

#subname {
	font-family: sentinel-black, serif;
	font-weight: 700;
	font-size: 50pt;
	width: 550px;
	font-weight: normal;
	margin-top: -10px;
	position: relative;
	text-align: center;
}


#portrait {
	display: block;
	float: right;
	position: absolute;
	bottom: 0px;
	right: 40px;
}

#nav {
	width: 100%;
	height: 40px;
	background-color: #486f9a;
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
}

#nav ul {
	float:left;	
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 12px;
	right: 50%;
	left: 50%;
}

#nav li {
	list-style: none;
	display: inline-block;
	font-family: whitney-medium, sans-serif;
	font-size: 12pt;
	padding-right: 15px;
	padding-left: 15px;
	text-transform: uppercase;
}

#nav a {
	color: white;
}

.content {
	clear: both;	
	position: relative;
	margin-bottom: 50px;
	margin-top: 50px;
	background-color: #efc061;
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);
}

#picleft {
	float: left;
}

#textright {
	float: right;
}

#textleft {
	float: left;
}

#picright {
	float: right;
}

#header p {
	float: left;
	font-family: sentinel-light, sans-serif;
	font-weight: 400;
	font-size: 14pt;
	text-align: center;
	top: 50%;
	width: 550px;
	display: table-cell;
	vertical-align: middle;
	margin-top: 10px;
}

#about p, #volunteer p {
	font-family: whitney-light, sans-serif;
	font-size: 13pt;
	text-align: left;
	top: 50%;
	height: 500px;
	width: 560px;
	display: table-cell;
	vertical-align: middle;
	padding: 50px;
}

#platform p {
	font-family: whitney-light, sans-serif;
	font-size: 13pt;
	top: 50%;
	height: 350px;
	width: 960px;
	display: table-cell;
	vertical-align: middle;
	padding: 50px;
	text-align: left;
}

#footer p {
	font-size: 10pt;
	text-align: center;
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 40px;
	text-decoration: underline;
	color: #486f9a;
}

#contact {
	height: 200px;
}

#contact .textholder {
	margin-left: 60px;
	margin-right: 60px;
}

#contact p {
	font-family: whitney-medium, sans-serif;
	font-size: 13pt;
	height: auto;
	width: 200px;
	display: table-cell;
	vertical-align: center;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
	padding-top: 20px;
}

.imageholder {
	width: 960px;
	height: auto;
	clear:both;
	margin-left: 60px;
	margin-right: 60px;
}

#contact img {
	clear: none;
	margin: auto;
	float: left;
	padding-left: 115px;
	padding-right: 115px;
	padding-top: 60px;
	height: auto;
	width: auto;
	display: table-cell;
	vertical-align: center;

}


#video_background {
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(124,121,121,0.61);
	z-index: 10;
	text-align: center;

}

#video_overlay {
	width: 640px;
	height: 480px;
	position: fixed;
	top: 10%;
	background-color: white;
	z-index: 9999999999;
	left: 50%;
	margin-left: -300px;
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);
}

#videoButton img {
	display:block;
	z-index: 50;
	text-align: center;
	margin-left: 225px;	
	   cursor: pointer;
	visibility: hidden;
}